
        <div class="mt-6">
    <%= render partial: "components/banner"%>
    </div>
    <div class="mt-24 mb-24">
    <%= render partial: "components/avviso"%>
    </div>
<div class="mt-6">
    <%= render partial: "/components/promo"%>
    </div>
    <div class="mt-6">
  <%= render partial: "/components/tendenza"%>
    </div>
    <div class="mt-6">
    <%= render partial: "/components/testo"%>
    </div>
    <div class="mt-6">
  <%= render partial: "/components/features"%>
    </div>
          

      