<div class="bg-blue-200 ">
<div class="mx-auto flex items-center justify-between p-4 lg:flex-row md:flex-col sm:flex-col xs:flex-col mb-12">
  
  <!-- Logo -->
  <div class="flex items-start" class="w-0">
    <img src="/images/world.png" class="w-12"/>
  </div>

  <!-- Menu Items -->
  <div class="flex flex-wrap lg:flex-row md:flex-col  sm:flex-col xs:flex-col items-center justify-center space-x-6 text-lg font-medium">
    <% @navbar.each do |item| %>
      <div class="relative group hover:underline p-2">
        <%= link_to item[:name], item[:href], class: "block" %>

        <% if item[:submenu] %>
          <div class="absolute hidden group-hover:block bg-white shadow-lg py-2 rounded mt-2 z-10 min-w-[160px]">
            <% item[:submenu].each do |sub| %>
              <%= link_to sub[:name], sub[:href], class: "block px-4 py-2 hover:bg-gray-100" %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <!-- Earth Button -->
  <div class="">
    <img src="/images/user.png" class="w-10"/>
  </div>
</div>
</div>

<% content_for :title, "Prenotazioni" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Prenotazioni</h1>
    <%= link_to "Nuova prenotazione", new_prenotation_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
  </div>

  <div id="prenotations" class="min-w-full divide-y divide-gray-200 space-y-5">
    <% if @prenotations.any? %>
      <% @prenotations.each do |prenotation| %>
        <div class="flex flex-col sm:flex-row justify-between items-center pb-5 sm:pb-0">
          <%= render prenotation %>
          <div class="w-full sm:w-auto flex flex-col sm:flex-row space-x-2 space-y-2">
            <%= link_to "Mostra", prenotation, class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
            <%= link_to "Modifica", edit_prenotation_path(prenotation), class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
            <%= button_to "Elimina", prenotation, method: :delete, class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer", data: { turbo_confirm: "Are you sure?" } %>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="text-center my-10">Nessuna prenotazione trovata</p>
    <% end %>
  </div>
</div>

<div class="">
  <div class="mt-8 text-center text-gray-400">
    <%#  Aggiungi qui le informazioni sul copyright, i link ai social media, ecc. %>
    
        <div class="relative flex flex-col shadow-2xl md:m-0 items-center justify-center  bg-blue-200">
            <div class="flex lg:flex-row sm:flex-col md:flex-col xs:flex-col gap-12 mb-6">
                
                
        
                
                                <div class="flex flex-col"> 
                    <p class="text-5xl  font-bold text-black">Newsletter</p>
                            <input
        placeholder="Inserisci la tua mail"
        class="lg:w-108 md:w-auto sm:w-auto xs:w-auto shadow-sm mt-0 border-black p-2 opacity-70 lg:mt-4 md:mt-4 sm:mt-4 border-2"
        
        />
        <p class="text-sm  underline text-end mt-3 text-black">Leggi l'informativa</p>
                </div>
                                <div class="flex flex-col "> 
                    <p class="text-5xl  font-bold text-black">Social</p>
                    <div class="flex flex-row gap-4 mt-4">

  <% @social.each do |button| %>
    <button class="md:w-auto flex flex-row px-2 p-2 items-center text-center border-gray-500 text-xl  
      bg-blue-100 shadow-sm hover:underline transition rounded-full
      hover:-translate-y-0.5 duration-500">
      <%= image_tag "#{button[:icon]}", class: "w-14 p-2", alt: "#{button[:name].capitalize} icon" %>
    </button>
  <% end %>

                    </div>
                </div>
            </div>
<div class="bg-blue-200 w-full">
<p class="text-sm text-gray-400 mb-2 text-center p-5">
</p>

<div className="flex lg:flex-row md:flex-row sm:flex-col  w-full justify-center p-4">







<footer class="p-6 lg:ml-24 text-start">
  <div class="container mx-auto grid grid-cols-1 md:grid-cols-1 lg:grid-cols-5 gap-8 ">
    <% @footer.each do |colonna| %>
      <div>
        <h3 class="text-lg font-semibold mb-4 text-black"><%= colonna[:titolo] %></h3>
        <ul>
          <% colonna[:items].each do |item| %>
            <li class="mb-2">
              <a href="#" class=" hover:underline text-black"><%= item %></a>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
</div>
</div>
</div>