<div class="bg-blue-200 ">
<div class="mx-auto flex items-center justify-between p-0 lg:flex-row md:flex-col sm:flex-col xs:flex-col mb-6 ">
  
  <!-- Logo -->

  <!-- Menu Items -->


  <!-- Earth Button -->

</div>
</div>
        <div class="relative flex flex-col bg-gray-100  rounded-2xl md:space-y-0 md:m-0 ">

        <img
            src="images/hotell.jpg"
            alt="Immagine di una città di notte"
            class="md:w-full sm:w-auto xs:w-auto rounded-2xl xs:w-auto "
            
        />
        
        
        <div class="absolute md:z-40 md:bottom-40 p-0 md:mt-20 mr-0 md:ml-12 mb-0 items-center justify-center">
                <p class="text-white text-2xl ">Benvenuti nel catalogo prenotazioni!</p>
                <p class=" text-white font-bold text-3xl">Qua puoi vedere la tua prenotazione, oppure crearne una nuova!</p>
                <button class="w-full mt-6 md:w-auto flex justify-center items-center p-2 px-11 space-x-8 font-regular text-xl font-bold text-gray-700 
                rounded-full  bg-white hover:bg-opacity-90 shadow-sm hover:shadow-lg border transition
                hover:-translate-y-0.5 duration-150">Prenota ora!</button>


        </div>
    </div>
<% content_for :title, "Prenotazioni" %>

<div class="w-full bg-yellow-100 ">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Prenotazioni</h1>
    <%= link_to "Nuova prenotazione", new_prenotation_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
  </div>

  <div id="prenotations" class="min-w-full divide-y divide-gray-200 space-y-5 ">
    <% if @prenotations.any? %>
      <% @prenotations.each do |prenotation| %>
        <div class="flex flex-col sm:flex-row justify-between items-center pb-5 sm:pb-0">
          <%= render prenotation %>
          <div class="w-full sm:w-auto flex flex-col sm:flex-row space-x-2 space-y-2">
            <%= link_to "Mostra", prenotation, class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
            <%= link_to "Modifica", edit_prenotation_path(prenotation), class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
            <%= button_to "Elimina", prenotation, method: :delete, class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer", data: { turbo_confirm: "Are you sure?" } %>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="text-center my-10">Nessuna prenotazione trovata</p>
    <% end %>
  </div>
</div>
<div class="">
  <div class="mt-8 text-center text-gray-400 ">
    <%#  Aggiungi qui le informazioni sul copyright, i link ai social media, ecc. %>
    


</div>
</div>